
nav{
    position: fixed;
    top:0;
    margin:-10px;
    background: linear-gradient(to top,#27d8f7,rgb(0, 255, 187));
}
.logo img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.logo h3{
    color: white;
    font-size: 1.7rem;
}
.carousel-img{
    height: 87vh;
    width: 100vw;
    display: block;
}
